@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card mt-5 text-center gap-4">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <h5 class="card-title">Content</h5>
        <p class="card-text">This is a all about Privacy Content that's should doing base on this.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
    </div>
</div>